.specialization {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3c3c3c;

    img {
        margin-bottom: 0;
    }

    h3 {
        margin: 40px auto;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 0.2rem;
        text-align: center;
    }
}