@import '../../variables.scss';

.banner {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__content {
        max-width: 580px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        h1 {
            margin-top: 85px;
            font-family: $primary-font;
            font-size: 54px;
            text-transform: uppercase;

            span {
                display: block;
            }
        }

        p {
            font-size: 18px;
        }

    }

    &__mouse {
        position: absolute;
        bottom: 80px;
        left: 50%;
    }
}