.text {
    position: relative;
    padding: 50px 20px;

    @media(min-width: 575px) {
        border-bottom: 2px solid #3c3c3c;
        border-left: 2px solid #3c3c3c;
        border-right: 2px solid #3c3c3c;
    }


    @media(min-width: 768px) {

        padding: 50px 100px;
    }

    @media(min-width: 960px) {
        padding: 50px 175px;
    }

    &__title {
        position: absolute;
        width: 240px;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #3c3c3c;
        font-size: 34px;
        text-transform: uppercase;

        @media(min-width: 768px) {
            width: 240px;
        }

        @media(min-width: 960px) {
            width: 420px;
        }

        &::before,
        &::after {

            @media(min-width: 575px) {
                content: '';
                position: absolute;
                top: 50%;
                width: 150px;
                height: 2px;
                background-color: #3c3c3c;
            }

            @media(min-width: 768px) {
                width: 240px;
            }

        }

        &::before {
            left: 0;
            transform: translateX(-100%);
        }

        &::after {
            right: 0;
            transform: translateX(100%);
        }
    }

    p {
        text-align: center;
    }

    .btn {
        display: block;
        margin: 0 auto;
        width: 60vw;
        height: 60px;
        background-color: #3c3c3c;
        border-radius: 0;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 0.1rem;
        transition: .3s ease-in-out;
        font-weight: bold;

        @media(min-width: 768px) {
            width: 395px;
            height: 60px;
        }

        &:hover {
            background-color: #ffffff;
            color: #3c3c3c;
            border: 2px solid #3c3c3c;
        }
    }
}